<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496670811135-9pm09l2cssi1mdce2ig2452ch5gkivll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496670811135-9pm09l2cssi1mdce2ig2452ch5gkivll</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>496670811135-43tclbl2hcsi7um42al2mhcsaoclpji8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwiUbaY0BOsFwK3ofQt-56qcHfKJnwkKc</string>
	<key>GCM_SENDER_ID</key>
	<string>496670811135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.paguemenos.anjodaguardaw</string>
	<key>PROJECT_ID</key>
	<string>aplicativo-clinic-farma</string>
	<key>STORAGE_BUCKET</key>
	<string>aplicativo-clinic-farma.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496670811135:ios:5e16e8bf6c6fd024</string>
	<key>DATABASE_URL</key>
	<string>https://aplicativo-clinic-farma.firebaseio.com</string>
</dict>
</plist>